#vbox1{
    -fx-background-image: url('https://www.windsorbeautysupply.com/media/catalog/product//phababcs2012600.jpg');
    -fx-background-size: cover;
    -fx-opacity: 80%;
}
#vbox2{
    -fx-background-image: url('https://media.gettyimages.com/photos/brunette-curly-hair-background-picture-id484745064?b=1&k=6&m=484745064&s=612x612&w=0&h=6iyy4qDMUfhmlm8UaI-9UzdSAfrYtnebCoGA40Hs6Zs=');
    -fx-background-size: cover;
    -fx-opacity: 80%;
}
#zaloguj, #rejestracja{
    -fx-background-color: transparent;
    -fx-font: normal bold 60px 'serif';
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-text-fill: white;
    -fx-transition-duration:4s;
    -fx-opacity: 80%;
}
#zaloguj:hover, #rejestracja:hover{
    -fx-opacity: 100%;
}

#vbox1:hover, #vbox2:hover{
    -fx-opacity: 100%;
}

#okno{
    -fx-background-image: url('https://t4.ftcdn.net/jpg/00/68/08/63/240_F_68086318_xAS6qCzpksi1RZLXLzI8htTQzjMEDhn1.jpg');
}

#err{
    -fx-text-fill: red;
}